<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/adminLayout}" layout:fragment="Content">
<head>
    <title>코스 수정</title>
    <link rel="stylesheet" th:href="@{/css/courseModify.css}">
</head>
<body>
    <h1 class="course-list">과정 목록</h1>

    <div class="course-container">
        <a th:each="course : ${courses}" th:href="@{/admin/courseModifyDetail/{id}(id=${course.id})}" class="course-card">
            <div class="card-header">
                <h3 th:text="${course.courseName}">코스 이름</h3>
            </div>
            <div class="details">
                <p th:text="'개강 : ' + ${#temporals.format(course.startDate, 'yyyy년 MM월 dd일')}">개강일</p>
                <p th:text="'기간 : ' + ${course.duration}">기간</p>
            </div>
            <h4 class="subject">주요 교과 :</h4>
            <ul class="subject-list">
                <li th:each="subject : ${course.subjects}" th:text="${subject}">과목</li>
            </ul>
            <span class="details-button">자세히보기 →</span>
        </a>
    </div>
</body>
</html>