<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}" layout:fragment="Content" th:with="bannerType='default2'">

    <head>
        <title>교육원소개</title>
        <link rel="stylesheet" th:href="@{/css/intro.css}">
        
       
    </head>

    <body>
  
            
         
            <div class="introGre">인사말</div>
            <div class="introGreSeparate"></div>
            <div class="introGreText">
                <p class="introGreInText">
                    중앙능력개발원은 30여년을 직업기술교육 및 직업능력개발에 힘써왔으며, 인적자원 개발의 일환으로 우선선정직종(정부위탁) 훈련, 실업자 훈련,
                    국가기간산업 훈련 직종(정보통신)등 시대적 요구에 부응하며 교육을 실시해 왔습니다. 향후 중앙능력개발원은 정보화, 세계화 시대를 선도하는 창의적
                    인재양성, 맞춤형 인재양성, 융합형 인재앙성, 미래지향적 인재양성 이라는 교육지표를 가지고, 급변하는 사회 환경에 적응할 수 있는 기술교육 및
                    실무형 교육으로 전문기술인을 양성하여 지역사회 및 국가의 고용안정과 국가경제 발전에 기여하고자 끊임없이 노력하는 교육기관이 되고자 합니다.
                </p>
            </div>
            <div class="introGreName">중앙능력개발원장
                <span>김기화</span></div>
            <div class="hisTop">타임라인</div>
            <div class="hisMain">
                <div class="container">
                    <div class="timeline">

                        <div class="timeline-item">
                            <div class="timeline-connector"></div>
                            <div class="timeline-content">
                                <div class="timeline-year">1994~2007</div>

                                <p class="timeline-text">ISO 9001 인증</p>
                                <p class="timeline-text">실업자 재 취직 훈련기관 지정</p>
                                <p class="timeline-text">대전직업전문학교 명칭변경</p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-connector"></div>
                            <div class="timeline-content">
                                <div class="timeline-year">2008</div>

                                <p class="timeline-text">중앙능력개발원으로 교명 변경</p>
                                <p class="timeline-text">우선선정 직종 "A"등급 수여, 최우수기관 선정</p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-connector"></div>
                            <div class="timeline-content">
                                <div class="timeline-year">2018-2020</div>

                                <p class="timeline-text">스마트 플랫폼 UI/UX를 활용한<br>
                                    프론트앤드(웹퍼블리셔) 개발자 양성과정</p>
                                <p class="timeline-text">빅데이터 플랫폼융합 자바 오픈프레임웍<br>
                                    응용SW 개발자 양성과정</p>
                                <p class="timeline-text">빅데이터기반 자바 응용SW 개발자 양성과정</p>
                                <p class="timeline-text">디지털컨버전스 자바 응용SW 개발자 양성과정</p>
                                <p class="timeline-text">AI 활용 빅데이터 응용SW 개발자 양성과정</p>
                                <p class="timeline-text">빅데이터 플랫폼 활용 자바&파이썬 응용SW 개발자 양성과정</p>
                            </div>
                        </div>

                        <div class="timeline-item">
                            <div class="timeline-connector"></div>
                            <div class="timeline-content">
                                <div class="timeline-year">2022-2023</div>

                                <p class="timeline-text">자바&파이썬 활용 빅데이터 플스텍 웹 개발자 양성과정</p>
                                <p class="timeline-text">머신러닝 활용 자바&파이썬 응용SW 개발자 양성과정</p>
                                <p class="timeline-text">빅데이터 플랫폼 활용 자바&파이썬 응용SW 개발자 양성과정</p>
                                <p class="timeline-text">머신러닝 활용 자바&파이썬 응용SW 개발자 양성과정</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="vision">
                <span>비전</span>
                </div>
                <div class="vision-image" th:style="'background-image: url(' + @{/images/vision.jpg} + ');'"></div>
          

        	<script th:src="@{/js/intro.js}"></script>
      
            
        

        
    </body>

</html>