<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}" layout:fragment="Content" th:with="bannerType='default1'">
    <head>
        <title>중앙능력개발원</title>
         <link rel="stylesheet" th:href="@{/css/main.css}" >
    </head>
  
    <body>
        

        <div class="itIntro" id="itIntroSection" >
            <div class="itIntroTop">
                <div class="itIntroTopLeft">
                    <div class="itIntroTopLeftMark"><img th:src="@{/images/lic.png}"></div>
                    <div class="itIntroTopLeftText1">고용노동부 직업훈련</div>
                    <div class="itIntroTopLeftText2">5년 인증 우수훈련 기관</div>
                </div>
                <div class="itIntroTopRight">
                    <div class="itIntroTopRightText1 itIntroTopRightText">현장중심 IT 인력양성</div>
                    <div class="itIntroTopRightText2 itIntroTopRightText">현장 중심의 IT 인력 양성 학원은 실제 산업 현장에서 요구되는 실무 능력을 집중적으로 개발합니다.<br>
                        최신 기술과 트렌드를 반영한 커리큘럼을 통해<br>
                        이론뿐만 아니라 현장 경험을 바탕으로 한 실습을 제공합니다.<br>
                        학생들은 직무에 바로 투입될 수 있는 준비된 IT 전문가로 성장합니다.</div>
                </div>
            </div>
            <div class="itIntroBottom">
                <div class="itIntroBottomText itIntroBottomText1">
                    <i class="fa fa-lightbulb-o"></i>
                    창의적 인재양성
                </div>
                <div class="itIntroBottomText itIntroBottomText2">
                    <i class="fa fa-connectdevelop"></i>
                    융합형 인재양성
                </div>
                <div class="itIntroBottomText itIntroBottomText3">
                    <i class="fa fa-user-circle-o"></i>맞춤형 인재양성
                </div>
                <div class="itIntroBottomText itIntroBottomText4">
                    <i class="fa fa-line-chart"></i>
                    미래지향적 인재양성
                </div>
            </div>
        </div>
        <div class="courseTop">
            <span>교육</span>
            과정 모집</div>
            <div class="courseText">
                <div class="card-group">
                    <div class="card" th:each="course : ${courses}">
                        <div class="card-body">
                            <h5 class="card-title">
                                <div th:text="${course.courseName}"></div>
                            </h5>
                            <p class="card-text">
                                <span class="card-date" th:text="'개강 : ' + ${#temporals.format(course.startDate, 'yyyy년 MM월 dd일')}">개/span><br>
                                <span class="card-duration" th:text="'기간 : ' + ${course.duration}"></span><br>
                                <span class="card-time">시간 : 09:00 ~ 17:30 (야간 실습실 개방)</span>
                            </p>
                            <p class="card-text">
                                <strong>주요 교과 :</strong>
                                <ul class="course-list">
                                    <li th:each="subject : ${course.subjects}" th:text="${subject}">과목</li>
                                </ul>
                            </p>
                            <div class="card-text courseButton">
                                <a th:href="@{/course(courseId=${course.id})}" class="detail-link">
                                    자세히보기
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="welfareInfo">
            <div class="welfare">
                <div class="welfareTop">
                    <div class="welfareImage">
                        <img th:src="@{/images/welfare1.png}">
                    </div>
                    <div class="welfareTitle">수강료 · 교재비</div>
                </div>
                <div class="welfareText">100% 전액무료 매월 최대 816,000원 훈련장려금 지급</div>
            </div>
            <div class="welfare">
                <div class="welfareTop">
                    <div class="welfareImage">
                        <img th:src="@{/images/welfare2.png}">
                    </div>
                    <div class="welfareTitle">방과 후 학습</div>
                </div>
                <div class="welfareText">실습실 개방, 개인 보충학습, 면접클리닉<br>
                    산 • 학 채용 네트워크 구축</div>
            </div>
            <div class="welfare">
                <div class="welfareTop">
                    <div class="welfareImage">
                        <img th:src="@{/images/welfare3.png}">
                    </div>
                    <div class="welfareTitle">상담 · 문의</div>
                </div>
                <div class="welfareText">
                    <span>042)</span>254-2462</div>
            </div>
        </div>
        <div class="portfolioTop">
            <span>수강생</span>
            포트폴리오</div>
            <div class="portfolioInfo">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" th:each="portfolio : ${portfolios}">
                            <div class="slide-content">
                                <a th:href="${portfolio.githubUrl}" target="_blank">
                                    <img th:src="${portfolio.imageUrl}"/>
                                    <div class="slide-title" th:text="${portfolio.title}">포트폴리오 제목</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        <div class="mapTop">
            <span>위치</span>안내
        </div>
        <div class="mapInfo">
            <div class="map-container">
                <div class="map-placeholder">
                    <iframe
                        loading="lazy"
                        allowfullscreen
                        referrerpolicy="no-referrer-when-downgrade"
                        th:src="@{'https://www.google.com/maps/embed/v1/place?key=' + ${@environment.getProperty('app.google.maps.api-key')} + '&q=place_id:ChIJTXHQIulJZTURHvbe8TOjen0'}">
                    </iframe>
                </div>
                <div class="address-info">
                    <p>
                        <span class="mapSubTitle">주소:</span>
                        대전광역시 서구 둔산서로 17 양호빌딩 6층
                    </p>
                    <p>
                        <span class="mapSubTitle">전화:</span>
                        042-254-2462
                    </p>
                    <p>
                        <span class="mapSubTitle">이메일:</span>
                        info@djit21.co.kr
                    </p>
                </div>
            </div>
        </div>
        
        	<script th:src="@{/js/main.js}"></script>
        
    </body>
</html>