<div class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h2 class="logo-text"><span>중앙</span>능력개발원</h2>
            <p>대전 IT 교육의 중심, 중앙능력개발원에서 미래를 위한 최고의 IT 교육을 경험하세요.</p>
            <div class="contact">
                <span><i class="fa fa-phone"></i>042-254-2462</span>
                <span><i class="fa fa-envelope"></i>info@djit21.co.kr</span>
            </div>
            <div class="socials">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
        <div class="footer-section links