<div class="navMenu">
    <a href="djitMain.html" id="logo">중앙<span>능력개발원</span></a>
    <input type="checkbox" id="toggle-1">
    <label for="toggle-1" class="toggle-menu">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </label>
    <nav>
        <ul>
            <li><a href="djitIntro.html"><i class="fa fa-home"></i>교육원소개</a></li>
            <li><a href="djitCourse.html"><i class="fa fa-user"></i>교육과정</a></li>
            <li><a href="djitRegInfo.html"><i class="fa fa-thumb-tack"></i>입학안내</a></li>
            <li><a href="djitEmp.html"><i class="fa fa-gears"></i>취업정보소개</a></li>
            <li><a href="djitRegApp.html"><i class="fa fa-phone"></i>온라인접수</a></li>
        </ul>
    </nav>
</div>
